# Node
node_modules/
npm-debug.log*
yarn-error.log

# Angular build
frontend/dist/
frontend/.angular/

# Environment files
backend/.env
frontend/src/environments/environment.prod.ts

# Docker volumes
postgres_data/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
